body {
	background-image: url("bg.png");
	background-color:#353535;
	margin:0;
	font-family:century gothic;
	font-size:19px;
	}

header {
	width:100%;
	height:134px;
	background-size: 100% 134px;
	box-shadow: 0 3px rgba(0,0,0,0.5);
	background-color:#287184;
	text-align:center;
	}
	
#menu {
	display: inline;
    float: left;
    width:100%;
	height:30px;
	font-size:48px;
	text-align:left;
	z-index:2;
	}
	
#menu_list {
	list-style-type: none;
	padding:0;
	margin:0;
    background-color:#287184;
	}
	
#menu_list li {
	height:calc(100% / 11);
	margin-top:calc(100% / 11);
	margin-top:calc(100% / 11);
	}
	
#close_menu {
	position:relative;
	cursor:pointer;
	}

#header_right_side {
	float:right;
	text-align:right;
	color:#484848;
	margin-right:5px;
	position:relative;
	top:25px;
	font-size:125%;
	line-height:150%;
	}
	
#logo {
	position:absolute;
	left:calc(50% - 47.5px);
	height:110px;
	margin-top:10px;
	}
	
#menu_icn {
	right:0px;
	float:left;
	margin:30px;
	cursor:pointer;
	}
	
h1 {
	font-weight:normal;
	color:#f6c943;
	font-size:50px;
	margin-top:28px;
	margin-bottom:28px;
	text-align:center;
	}

h2 {
	font-weight:normal;
	color:white;
	font-size:24px;
	margin-bottom:28px;
	text-align:center;
	}
h3 {
	color:white;
	font-weight:bold;
	font-size:46px;
}

h4 {
	font-weight:normal;
	color:#f6c943;
	font-size:40px;
	margin-top:28px;
	margin-bottom:28px;
	text-align:center;
	}
	
#video_area {
	text-align:center;
	margin-top:20px;
}

#home_pg_vid {
	z-index:1;
	}


#hk_ldrshp_rks {
	font-style: italic;
	font-size:32px;text-align:center;
	color:#f6c943;
	}
	
.person_links {
	list-style:none;
	padding:0;
	}

.title_block {
    border-bottom: 4px solid #616161;
    padding-bottom: 5px;
    margin-bottom: 5px;
}	
	
.rule {
	height:4px;
	width:calc(100% - 60px);
	background-color:#616161;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:20px;
	}
	
p.single_content {
	text-align:center	
	font-weight:normal;
	color:#eee392;
	font-size:28px;
	padding:30px;
	margin:0;
	}
	
p.person_bio {
	color:#f6c943;
	}
	

.person {
	text-align:center;
	width:100%;
	margin-bottom:50px;
	color:#f6c943
	}

.diagram {
	text-align:center;
	width:100%;
	margin-bottom:50px;
	}
	
.socialmedia {
	text-align:center;
	width:100%;
	margin-bottom:50px;
	}

footer {
	background-color:rgba(0,0,0,0.25);
	color:white;
	padding-top:15px;
	padding-bottom:15px;
	margin-top:50px;
	text-align:center;
	}
	
a {
	color:white;
	text-decoration:none;}
	
#inner_header, #inner_body, #inner_footer {
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
	}

#hiskingdome_overview_img {
	width:100%;
}

.cnct_srv_grw_imgs_container {
	float:center;
	text-align:center;
	margin-bottom:20px;
}


.home_icn_descrip {
	color:white;
	font-style: italic;
	font-size:26px;
}



@media screen and (min-width: 1200px) {
    #menu {
		height:134px;
		font-size:30px;
		
    }
	#menu_list {
		list-style-type: none;
		background-color:#287184;
		text-align:center;
		position:relative;
		z-index:2;
		}
		
	#menu_list li {
		float:center;
		text-align:center;
		position:relative;
		
	}
	
	#close_menu {
		width:auto;
		position:relative;
		
	}
}